// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating_options_vote { display: none }
.rating_options_cancel { display: none }

.main {
  text-align: center;
}

p.new-question a:link{
  text-decoration: none;
}

.new-question a{
  color: white;
}